# Use this notbook for your 3 choices of APIs

In [107]:
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize
pd.set_option("display.max_rows", 0)

# Random facts of Dogs

In [48]:
dogs = requests.get(" http://dog-api.kinduff.com/api/facts?number=100")
print("Dogs:", dogs.status_code)

Dogs: 200

In [118]:
# dogs.json()

In [50]:
dogs_df = pd.DataFrame(dogs.json())
dogs_df

                                                facts  success
0   Thirty percent of all Dalmatians are deaf in o...     True
1   More than 5,000,000 puppies are born in the U....     True
2   The Chihuahua was named for the state in north...     True
3   The grief suffered after a pet dog dies can be...     True
4   n ancient China, an emperor's last line of def...     True
5   Wow, check out those choppers! Puppies have 28...     True
6   In ancient Greece, kennels of dogs were kept a...     True
7   The Norwegian Lundehund is the only dog with s...     True
8   All breeds of dog have been found to attack li...     True
..                                                ...      ...
91  Boxers are so named because of their manner of...     True
92  The smallest known adult dog was a Yorkshire T...     True
93  Chihuahuas are born with soft spots in their s...     True
94              There are hundreds of breeds of dogs.     True
95  Dog nose prints are as unique as human finger ...     True
96  Apple and pear seeds contain arsenic, which ma...     True
97  There are only 350 Cisky Terriers in the world...     True
98          Dalmatians are completely white at birth.     True
99  Dogs with little human contact in the first th...     True

[100 rows x 2 columns]

# Chuck Norris jokes

In [79]:
chucknorris = requests.get("https://api.chucknorris.io/jokes/random")
print("Chuck Norris jokes:", chucknorris.status_code)

Chuck Norris jokes: 200

In [80]:
chucknorris.json()

{'categories': [],
 'created_at': '2020-01-05 13:42:26.194739',
 'icon_url': 'https://assets.chucknorris.host/img/avatar/chuck-norris.png',
 'id': 'DB4QRy3PTFqmiESruHICPg',
 'updated_at': '2020-01-05 13:42:26.194739',
 'url': 'https://api.chucknorris.io/jokes/DB4QRy3PTFqmiESruHICPg',
 'value': "Chuck Norris' nutsack is pepperoni flavored."}

In [84]:
result = chucknorris.json()
result['value']

"Chuck Norris' nutsack is pepperoni flavored."

In [86]:
jokes = []

for i in range(50):
    chucknorris = requests.get("https://api.chucknorris.io/jokes/random")
    result = chucknorris.json()
    jokes.append(result['value'])

In [89]:
chucknorrisjokes = pd.DataFrame({'joke':jokes})

In [90]:
chucknorrisjokes

                                                 joke
0      Argentina uses Chuck Norris' shit as currency.
1      Chuck Norris' penis has two little t-rex arms.
2   Every time someone uses the word "intense", Ch...
3   The number on tombstones aren't years; there j...
4   When Chuck Norris goes to donate blood, he dec...
5   A reporter once referred to Chuck Norris as a ...
6   So it seems sleep has a cousin named death and...
7   With Chuck Norris P = NP. There's no nondeterm...
8              Chuck Norris' grass is always greener.
..                                                ...
41  Chuck Norris can eat eat a hammer and crap out...
42  Chuck Norris wrote a series of books called, "...
43  Anton Chigurh (from No Country for Old Men) ne...
44  Chuck Norris wins Miss Universe with an Gorill...
45  Chuck Norris is so much if a man that he sees ...
46  its not global warming,its Chuck Norris workin...
47  You bet your ass Chuck Norris' penny-farthing ...
48  Who wins in a race car race? Chuck Norris alwa...
49  Chuck Norris makes Bear Grylls look like a god...

[50 rows x 1 columns]

# Spanish Holidays 2021

In [92]:
import getpass
apikey = getpass.getpass()

Â·Â·Â·Â·Â·Â·Â·Â·

In [91]:
holydays = requests.get("")
print("Spanish Holydays:", holydays.status_code)

Spanish Holydays: 402

In [95]:
response = requests.get('https://holidayapi.com/v1/holidays?pretty&country=ES&year=2021&key='+apikey)
response

In [121]:
results = response.json()
# results

In [122]:
# results['holidays']

In [106]:
holidays = pd.DataFrame(results["holidays"]).reset_index(drop=True)
holidays

,name,date,observed,public,country,uuid,weekday
0,New Year's Day,2021-01-01,2021-01-01,True,ES,c425b20b-749e-426a-bf67-3bb2ff996456,"{'date': {'name': 'Friday', 'numeric': '5'}, '..."
1,Epiphany,2021-01-06,2021-01-06,True,ES,cfd84af7-b6ed-4a40-b02b-361985af9e3b,"{'date': {'name': 'Wednesday', 'numeric': '3'}..."
2,Valentine's Day,2021-02-14,2021-02-14,False,ES,ed8dc1e0-370f-4030-aff2-61d8e5bc5d8b,"{'date': {'name': 'Sunday', 'numeric': '7'}, '..."
3,Ash Wednesday,2021-02-17,2021-02-17,False,ES,359b57cc-1362-4e82-8b96-a57d33a3f513,"{'date': {'name': 'Wednesday', 'numeric': '3'}..."
4,Father's Day,2021-03-19,2021-03-19,False,ES,e66882e5-c3ef-4a09-96f3-df6bec7e3009,"{'date': {'name': 'Friday', 'numeric': '5'}, '..."
5,March Equinox,2021-03-20,2021-03-20,False,ES,7248739e-c954-487d-9d8e-87519e162d81,"{'date': {'name': 'Saturday', 'numeric': '6'},..."
6,Palm Sunday,2021-03-28,2021-03-28,False,ES,3cae39ee-7573-45b6-9068-ea8c14fce1e5,"{'date': {'name': 'Sunday', 'numeric': '7'}, '..."
7,Start of Daylight Saving Time,2021-03-28,2021-03-28,False,ES,ed6e769e-b27f-4ad8-ac77-b5b3aac4691c,"{'date': {'name': 'Sunday', 'numeric': '7'}, '..."
8,Maundy Thursday,2021-04-01,2021-04-01,True,ES,04c0382e-d0e3-4f3d-960c-423306990517,"{'date': {'name': 'Thursday', 'numeric': '4'},..."
...,...,...,...,...,...,...,...
16,Hispanic Heritage Day,2021-10-12,2021-10-12,True,ES,cb06098e-2d9f-4d15-8bba-e6c91bd2fc2f,"{'date': {'name': 'Tuesday', 'numeric': '2'}, ..."
17,End of Daylight Saving Time,2021-10-31,2021-10-31,False,ES,189a7001-e57c-44fc-8f6d-c7fb72c2911f,"{'date': {'name': 'Sunday', 'numeric': '7'}, '..."
18,All Saints' Day,2021-11-01,2021-11-01,True,ES,d166f219-3ed0-4768-944e-79128d465151,"{'date': {'name': 'Monday', 'numeric': '1'}, '..."
19,Day of the Constitution,2021-12-06,2021-12-06,True,ES,2460ee0b-2aed-49c5-9cb4-c6d76dda8f9b,"{'date': {'name': 'Monday', 'numeric': '1'}, '..."
20,Feast of the Immaculate Conception,2021-12-08,2021-12-08,True,ES,1a260fc0-f7bf-4d17-8fe1-7ad9bf381e15,"{'date': {'name': 'Wednesday', 'numeric': '3'}..."
21,December Solstice,2021-12-21,2021-12-21,False,ES,dafaac79-3f09-4c1c-9c9c-17d2a29a19c9,"{'date': {'name': 'Tuesday', 'numeric': '2'}, ..."
22,Christmas Eve,2021-12-24,2021-12-24,False,ES,cbb7e9af-a3f2-4d0b-aaf3-27156b413be9,"{'date': {'name': 'Friday', 'numeric': '5'}, '..."
23,Christmas Day,2021-12-25,2021-12-25,True,ES,e273f9bc-d549-47b0-af45-3f09d1cbae46,"{'date': {'name': 'Saturday', 'numeric': '6'},..."
24,New Year's Eve,2021-12-31,2021-12-31,False,ES,ba3933a2-44b7-4475-b40a-3218f8e377bc,"{'date': {'name': 'Friday', 'numeric': '5'}, '..."

In [109]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [113]:
flat1 = flatten(holidays,['weekday'])
flat1.head()

,name,date,observed,public,country,uuid,weekday_date,weekday_observed
0,New Year's Day,2021-01-01,2021-01-01,True,ES,c425b20b-749e-426a-bf67-3bb2ff996456,"{'name': 'Friday', 'numeric': '5'}","{'name': 'Friday', 'numeric': '5'}"
1,Epiphany,2021-01-06,2021-01-06,True,ES,cfd84af7-b6ed-4a40-b02b-361985af9e3b,"{'name': 'Wednesday', 'numeric': '3'}","{'name': 'Wednesday', 'numeric': '3'}"
2,Valentine's Day,2021-02-14,2021-02-14,False,ES,ed8dc1e0-370f-4030-aff2-61d8e5bc5d8b,"{'name': 'Sunday', 'numeric': '7'}","{'name': 'Sunday', 'numeric': '7'}"
3,Ash Wednesday,2021-02-17,2021-02-17,False,ES,359b57cc-1362-4e82-8b96-a57d33a3f513,"{'name': 'Wednesday', 'numeric': '3'}","{'name': 'Wednesday', 'numeric': '3'}"
4,Father's Day,2021-03-19,2021-03-19,False,ES,e66882e5-c3ef-4a09-96f3-df6bec7e3009,"{'name': 'Friday', 'numeric': '5'}","{'name': 'Friday', 'numeric': '5'}"

In [114]:
flat2 = flatten(flat1,['weekday_date','weekday_observed'])
flat2.head()

,name,date,observed,public,country,uuid,weekday_date_name,weekday_date_numeric,weekday_observed_name,weekday_observed_numeric
0,New Year's Day,2021-01-01,2021-01-01,True,ES,c425b20b-749e-426a-bf67-3bb2ff996456,Friday,5,Friday,5
1,Epiphany,2021-01-06,2021-01-06,True,ES,cfd84af7-b6ed-4a40-b02b-361985af9e3b,Wednesday,3,Wednesday,3
2,Valentine's Day,2021-02-14,2021-02-14,False,ES,ed8dc1e0-370f-4030-aff2-61d8e5bc5d8b,Sunday,7,Sunday,7
3,Ash Wednesday,2021-02-17,2021-02-17,False,ES,359b57cc-1362-4e82-8b96-a57d33a3f513,Wednesday,3,Wednesday,3
4,Father's Day,2021-03-19,2021-03-19,False,ES,e66882e5-c3ef-4a09-96f3-df6bec7e3009,Friday,5,Friday,5

In [115]:
holidays_df = flat2.drop(['uuid'],axis=1)
holidays_df

,name,date,observed,public,country,weekday_date_name,weekday_date_numeric,weekday_observed_name,weekday_observed_numeric
0,New Year's Day,2021-01-01,2021-01-01,True,ES,Friday,5,Friday,5
1,Epiphany,2021-01-06,2021-01-06,True,ES,Wednesday,3,Wednesday,3
2,Valentine's Day,2021-02-14,2021-02-14,False,ES,Sunday,7,Sunday,7
3,Ash Wednesday,2021-02-17,2021-02-17,False,ES,Wednesday,3,Wednesday,3
4,Father's Day,2021-03-19,2021-03-19,False,ES,Friday,5,Friday,5
5,March Equinox,2021-03-20,2021-03-20,False,ES,Saturday,6,Saturday,6
6,Palm Sunday,2021-03-28,2021-03-28,False,ES,Sunday,7,Sunday,7
7,Start of Daylight Saving Time,2021-03-28,2021-03-28,False,ES,Sunday,7,Sunday,7
8,Maundy Thursday,2021-04-01,2021-04-01,True,ES,Thursday,4,Thursday,4
...,...,...,...,...,...,...,...,...,...
16,Hispanic Heritage Day,2021-10-12,2021-10-12,True,ES,Tuesday,2,Tuesday,2
17,End of Daylight Saving Time,2021-10-31,2021-10-31,False,ES,Sunday,7,Sunday,7
18,All Saints' Day,2021-11-01,2021-11-01,True,ES,Monday,1,Monday,1
19,Day of the Constitution,2021-12-06,2021-12-06,True,ES,Monday,1,Monday,1
20,Feast of the Immaculate Conception,2021-12-08,2021-12-08,True,ES,Wednesday,3,Wednesday,3
21,December Solstice,2021-12-21,2021-12-21,False,ES,Tuesday,2,Tuesday,2
22,Christmas Eve,2021-12-24,2021-12-24,False,ES,Friday,5,Friday,5
23,Christmas Day,2021-12-25,2021-12-25,True,ES,Saturday,6,Saturday,6
24,New Year's Eve,2021-12-31,2021-12-31,False,ES,Friday,5,Friday,5